/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ae1c28 !default; // PMS 7427C
$red-color-dark: #b71c1c !default; // Darker red for emphasis
$orange-color: #d86b1f !default; // PMS 138C
$blue-color: #002f6c !default; // Drexel Blue (PMS 294C)
$blue-color-dark: #00369f !default; // Darkened version of Drexel Blue
$drexel-yellow: #fdb515 !default; // Existing cyan for contrast
$light-drexel-yellow: color.adjust($drexel-yellow, $lightness: 25%) !default;
$green-color: #00ab37 !default; // Existing green for accent
$green-color-lime: #b7d12a !default; // PMS 583C (light lime green)
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$drexel-blue: #004b87 !default; // Define Drexel Blue if not already defined
$light-drexel-blue: color.adjust($drexel-blue, $lightness: 25%) !default;
$pink-color: #f92080 !default; // Existing pink for accents
$pink-color-light: #ffdddd !default;
$yellow-color: #fdb515 !default; // Drexel Gold (PMS 7548C)

// Shades of Drexel Blue replacing neutral grays
$grey-color: color.scale($drexel-blue, $lightness: 25%) !default; // Lightened Drexel Blue
$grey-color-light: color.scale($drexel-blue, $lightness: 40%) !default; // Even lighter Drexel Blue
$grey-color-dark: color.scale($drexel-blue, $lightness: -15%) !default; // Darker Drexel Blue
$grey-900: color.scale($drexel-blue, $lightness: -30%) !default; // Darkest Drexel Blue

// Shades of Drexel Gold
$yellow-color: #fdb515 !default; // Primary Drexel Gold (PMS 7548C)
$yellow-color-light: color.scale($yellow-color, $lightness: 20%) !default; // Lightened Drexel Gold
$yellow-color-lighter: color.scale($yellow-color, $lightness: 40%) !default; // Even lighter Drexel Gold
$yellow-color-dark: color.scale($yellow-color, $lightness: -20%) !default; // Darker Drexel Gold
$yellow-900: color.scale($yellow-color, $lightness: -40%) !default; // Darkest Drexel Gold

$white-color: #ffffff !default;
$black-color: $drexel-blue !default;

// Theme colors

$code-bg-color-light: rgba($blue-color, 0.05) !default; // Lightened Drexel Blue for code backgrounds
$code-bg-color-dark: $drexel-blue !default; // Dark background for code blocks

// Font Awesome location
$fa-font-path: "../webfonts";

// Tabler Icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

$button-color: $drexel-blue !default; // Set the default button color to Drexel Blue
